@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background-color: #060417;
  --primary-color: #a993fe;
  --secondary-color: #7c5fe6;
  --bg-gradient: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;

}

body {
  color: #fff;
  background-color: var(--background-color);
}